.logo{
    width: 50%;
    height: 90%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
}

.imagen-L{
    background-image: url(../img/tamal.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment:fixed;
}

.blur-L{
    backdrop-filter: blur(5px);
}




